ul {
  display: flex;
  flex-wrap: wrap
}

.leaves {
  background-color: green 
}

.branches{
  background-color: burlywood;
}

.no-class{
  background-color: cornflowerblue;
}

.present p {
  color: greenyellow
}

.absent p {
  color: red
}

li {
  list-style: none;
  padding: 10px;
  margin: 20px;
  border-radius: 0.5em;
  display: inline-block;
  width: 250px
}

button {

  margin: 5px
}